{
    "input_folder": "",
    "output_folder": "",
    "extensions": {
        ".bmp": false,
        ".csv": false,
        ".doc": false,
        ".docx": false,
        ".epub": false,
        ".gif": false,
        ".htm": false,
        ".html": false,
        ".ipynb": false,
        ".jpeg": false,
        ".jpg": false,
        ".json": false,
        ".m4a": false,
        ".mp3": false,
        ".msg": false,
        ".pdf": false,
        ".png": false,
        ".ppt": false,
        ".pptx": false,
        ".tiff": false,
        ".wav": false,
        ".xls": false,
        ".xlsx": false,
        ".xml": false
    },
    "force": false,
    "dry_run": false,
    "logging": true
}
